<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">TestApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if app.request.get('_route') == "homepage" %}active{% endif %}">
        <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if is_granted('ROLE_ADMIN') %}
      {% endif %}
    </ul>
    <ul class="navbar-nav">
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        {% endif %}
    </ul>
  </div>
</nav>